html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body {
  max-width: 2000px;
  margin: 0 auto;
} */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: white;
  background-image: radial-gradient(#eae1da 2px, transparent 2px),
    radial-gradient(#eae1da 2px, transparent 2px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

body {
  /* min-height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  margin: auto;
  width: 100%;
  /* margin-bottom: 5vh; */
}

/* ///////////////// NAVBAR STYLING ///////////////// */

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* height: 15vh; */
  margin: 0;
  position: relative;
  background-color: #FFE6C1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0 5vw;
  z-index: 1;
  overflow: hidden;
}

.logo-img {
  width: 8vw;
  margin: 10px 0 0;
  cursor: pointer;
  z-index: -1;
  /* box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15); */
  border-radius: 100%;
  padding: 0%;
}

.title {
  width: 25vw;
  cursor: pointer;
}

.navbar-btn {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: #4D311B;
  transition: box-shadow 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-btn:hover {
  border-bottom: 2px solid #FFB1B1;
}

@font-face {
  font-family: 'Poetsen One';
  src: url('../fonts/PoetsenOne-Regular.ttf') format('truetype');
}

.body-with-cart-open {
  overflow: hidden;
}

.cart-icon {
  font-size: 1.5rem;
  color: #4D311B;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  padding: 7px;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  right: -3px;
  font-size: 0.75rem;
  color: #4D311B;
  background-color: #FFB1B1;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  font-weight: 550;
}

.track {
  white-space: nowrap;
  will-change: transform;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

span.text-red {
  -webkit-text-stroke: 1px pink;
  margin-left: 6px;
}

.logo {
  color: gray;
  font-size: 1rem;
}

/* //////////////////////// reviews banner ///////////////////// */

.reviews-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 5vh;
}

.reviewerImage {
  width: 100px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  gap: 10px;
}

.reviewDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  padding-top: 10px;
  gap: 10px;
}

.reviewDate {
  font-style: italic;
  margin-bottom: 20px;
}

.review-card {
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 275px;
  height: 275px;
  border-radius: 8px;
  font-size: .65rem;
}


/*/////////////////// BEST SELLING PRODUCTS BANNER ON HOME PAGE /////////// */

.products-main-container {
  background-color: #FFF2DF;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  margin-top: -2px;
}

.maylike-container {
  padding-bottom: 0;
  background-color: transparent;
  margin-bottom: 5vh;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #4D311B;
}

.product-card:hover {
  transform: scale(1.1, 1.1)
}

.product-image {
  border-radius: 100%;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-page-image {
  border-radius: 20px;
  width: 160px;
  overflow: hidden;
}

.product-name {
  font-weight: 500;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: #4D311B;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.products-heading,
.reviews-heading {
  margin: auto;
  padding: 3vh 9vw;
  width: 100%;
  color: #4D311B;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.products-page-heading {
  width: 90%;
  margin: auto;
  padding: 15px;
}

.products-heading h2,
.reviews-heading h2 {
  font-size: 2rem;
  font-weight: 350;
  padding: 1vw 2vw;
}

.products-heading p,
.reviews-heading p {
  font-size: 1rem;
  font-weight: 200;
}

.horizontal-bar {
  height: 1.5px;
  background-color: #4D311B;
  flex-grow: 1;
}

.horizontal-bar:first-child {
  left: 0;
}

.horizontal-bar:last-child {
  right: 0;
}

/*///////////////////////////////// ABOUT PAGE ////////////////////////*/

.about-body-img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.about-body-text {
  background-color: white;
  margin: -5px 0 0;
  padding: 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-body-text h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

/*///////////////////////////////// PRODUCTS PAGE ////////////////////////*/

.products-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  gap: 75px;
  max-width: 1100px;
  margin: auto;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.product-page-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #4D311B;
}

.product-page-card:hover {
  transform: scale(1.1, 1.1)
}

.image-container {
  position: relative;
}

.arrow-button {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  height: 100%;
}

.arrow-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.arrow-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.arrow-button svg path {
  fill: #fff;
}

.flipped-svg {
  transform: scaleX(-1);
}

.arrow-svg {
  transition: all 0.3s ease;
  fill: #000;
}

.arrow-button:hover .arrow-svg {
  transform: scale(1.1);
}

.arrow-button:active .arrow-svg {
  transform: scale(0.95);
}

.arrow-left .arrow-svg {
  transform: scaleX(-1);
}

.arrow-button.arrow-left:hover .arrow-svg {
  transform: scaleX(-1.1) scaleY(1.1);
}

.arrow-button.arrow-left:active .arrow-svg {
  transform: scaleX(-0.95) scaleY(0.95);
}



/*///////////////////////////////// CAROUSEL ////////////////////////*/

.slick-prev,
.slick-next {
  width: 150px;
  height: 100%;
}

.slick-prev {
  z-index: 1;
}

.arrow-left {
  z-index: 1;
}

.slick-dots {
  bottom: 30px;
}

.slick-dots ul {
  color: #fff;
}

.slick-dots li button {
  background: transparent;
}

.slick-dots li.slick-active button {
  background: transparent;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

.slick-track ::before {
  display: none;

  content: '';
}

.carousel-img {
  width: 100%;
  height: 82vh;
  object-fit: Cover;
  z-index: 1;
}

.carousel-a {
  position: relative;
  width: 100%;
  height: 82vh;
  min-height: 300px;
}

.carousel-banner {
  margin: auto;
  position: relative;
  line-height: 0.9;
  width: 100%;
  overflow: hidden;
  width: 100%;
  height: 82vh;
  min-height: 300px;
}

.carousel-shop-now-button {
  width: 16vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFBCB4;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #4d311b8a, 1px -1px 0 #4d311b8a, -1px 1px 0 #4d311b8a, 1px 1px 0 #4d311b8a;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 3;
  position: absolute;
  bottom: 60px;
  /* Adjust the distance from the bottom as needed */
  right: 42vw;
  letter-spacing: 1px;
}

/* /////////////////////// end ////////////////// */


.desc {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 30vh;
  line-height: 1.3;
  padding: 5vh 0;
  background-color: rgba(255, 255, 255, 0.70);
}

.desc h6 {
  color: #4D311B;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  width: 65%;
  margin: auto;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #4D311B;
  text-align: center;
}

.shop-now-btn,
.add-to-cart,
.buy-now {
  padding: 10px 30px;
  display: flex;
  font-size: .75rem;
  width: 100%;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #FFE6C1;
  border: 0;
  color: #4D311B;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  font-weight: bold;
  transition: 0.3s ease;
}


.add-to-cart:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.shop-now-btn:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.outside-cart-container {
  height: 100vh;
  width: calc(100vw - 600px);
  float: left;
  position: relative;
}

/* //////////////////////// FOOTER STYLING ///////////////////// */

.footer-container {
  background-color: #FFE6C1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  color: #324d67;
  text-align: center;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 100%;
  align-items: center;
}

.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #FFB1B1;
}

.cart-num-items-2 {
  color: #FFB1B1;
  font-size: 2rem;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 1rem;
}

.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  /* margin-bottom: 10px; */
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #f4b4b3 transparent;
}

.subtotal-container {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

/* Styling the scrollbar for WebKit browsers */
.product-container::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

.product-container::-webkit-scrollbar-thumb {
  background-color: #f4b4b3;
  /* Color of the draggable scroll thumb */
  border-radius: 4px;
  /* Makes the edges round */
}

.product-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  /* Color of the track/container of the scrollbar */
  border-radius: 4px;
  /* Makes the edges round */
}


.product {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
  /* transform: scale(.5); */
  background-color: #fff;
}

.cart-product-image-container {
  display: flex;
  flex-direction: column;
}

.cart-product-image-container span {
  border-radius: 15px;
}

.cart-product-details {
  display: flex;
  gap: 30px;
}

.item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  font-size: .5rem;
}

.total {
  color: #FFB1B1;
  text-transform: lowercase;
}

.total-first-letter {
  text-transform: uppercase;
  color: #FFB1B1;
}

.item-desc .bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  width: 100%;
  gap: 10px;
}

.flex h5 {
  font-size: 1rem;
}

.flex h4 {
  font-size: 1rem;
}

.total h3 {
  font-size: 1rem;
}

.remove-item {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-top: 40px;
  background-color: #FFE6C1;
  color: #4D311B;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.btn-container {
  /* display: flex; */
  width: 350px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 0;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cart-bottom {
  margin-bottom: 30px;
}

.cart-btn {
  width: 80%;
}

.product-detail-container {
  color: #4D311B;
  background-color: white;
  padding: 2% 10%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.product-detail-subcontainer {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 2vh;
}

.product-detail-desc {
  width: 100%;
}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;
  width: 25vw;
  height: 25vw;
  cursor: pointer;
  transition: opacity 0.1s;
  opacity: 1;
}

.read-more-toggle {
  text-align: center;
  padding: 5vh 0 1vh;
  cursor: pointer;
  color: #FFB1B1;
}

.fade-out {
  opacity: 0;
}

.small-images-container {
  display: flex;
  /* height: 100%; */
  margin-top: 10px;
  padding-bottom: 5px;
  flex-direction: row;
  width: 25vw;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: thin;
  scrollbar-color: #f4b4b3 transparent;
}


.small-images-container::-webkit-scrollbar {
  height: 3px;
}

.small-images-container::-webkit-scrollbar-thumb {
  background-color: #f4b4b3;
  border-radius: 20px;
}

.small-images-container::-webkit-scrollbar-thumb {
  background-color: #f4b4b3;
  border-radius: 20px;
}

/* scrollbar for whole site */
html {
  scrollbar-color: #f4b4b3 transparent;
  /* Firefox */
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: #f4b4b3;
  border-radius: 20px;
  /* Webkit browsers */
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.selected-image {
  border: 5px solid #f4b4b3;
}


.all-images-container {
  display: flex;
  flex-direction: column;
}


.reviews {
  color: #ea8585;
  /* margin-top: 20px; */
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
}

.price-and-reviews {
  display: flex;
  gap: 30px;
  flex-direction: row;
  padding-bottom: 5vh;
}

.subcontainer-right {
  width: 100%;
}

.variants-and-buy {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.details {
  display: block;
  flex: 3;
  align-items: center;
  margin: 10px;
  height: 80%;
  font-size: 0.85rem;
  justify-content: space-evenly;
}

.item-details,
.materials,
.shipping {
  margin: 2vh 0;
}

.buy {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 20px; */
}

.buy-left {
  font-size: 1rem;
}

.details-desc {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 0.85rem;
}

.bottom-details-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  height: calc(90% - 5vh);
}


.buy-right {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: flex-end;
  gap: 10px;
}

/* CSS for the dropdown trigger button */
.dropdown-toggle {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 15px;
  text-align: left;
  cursor: pointer;
  font-size: 0.8rem;
}

/* CSS for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px 15px;
  width: 20%;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 10px;
}

/* CSS for the dropdown items */
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

/* Highlight on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the trigger button is hovered or focused */
.dropdown:hover .dropdown-content {
  display: block;
}

/* /////////////////// end of dropdown menu//////////////////////// */

.product-detail-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-detail-heading h1 {
  font-weight: 400;
  padding-bottom: 1vh;
  color: #4D311B;
}

.product-detail-desc h4 {
  margin-top: 10px;
  font-weight: 400;
}

.product-detail-desc p {
  margin-top: 10px;
}

.reviews p {
  color: #4D311B;
  margin-top: 0px;
}

.price {
  font-weight: 400;
  font-size: 1.5rem;
  color: #4D311B;
  flex: 1;
}

.product-detail-desc {
  font-weight: 400;
  font-size: 1rem;
  color: #4D311B;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.quantity {
  min-width: 100%;
}

.product-detail-desc .quantity {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}

.add-to-cart-clicked {
  transform: scale(1) !important;
  transition: transform 0.2s ease !important;
}

.buttons {
  width: 100%;
}


.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}

.quantity-desc {
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #FFB1B1;
  align-items: center;
  padding: 10px;
  height: 100%;
  justify-content: space-between;
  max-width: 300px;
}

.cart-quantity-btn {
  max-width: 200px;
}

.quantity-desc span {
  font-size: 1rem;
  padding: 6px 12px;
  cursor: pointer;
}

.input {
  width: 30px;
  height: 100%;
  overflow: auto;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: #fff;
  transform: scale(1.5);
}

.input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/* //////////////// styling for the variant drop down menu in product detail //////////////// */


.variants {
  width: 100%;
  /* this is to push the other two buttons to the bottom of box, possibly change to flex end if needed */
  /* margin: 2vh 0 10vh 0; */
}

/* CSS for the dropdown container */
.dropdown {
  display: inline-block;
  width: 100%;
}

/* CSS for the dropdown trigger button */
.dropdown-toggle {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 15px;
  text-align: left;
  cursor: pointer;
  font-size: 0.8rem;
}

/* CSS for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px 15px;
  width: 20%;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 10px;
}

/* CSS for the dropdown items */
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

/* Highlight on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the trigger button is hovered or focused */
.dropdown:hover .dropdown-content {
  display: block;
}

/* /////////////////// end of dropdown menu//////////////////////// */


/* remove the input field arrows */
/* For Firefox */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Chrome, Safari, Edge */
.input::-webkit-inner-spin-button,
.input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

.quantity-desc .minus {
  color: #fff;
  background-color: transparent;
  border: 0;
  width: 20px;
  transform: scale(1.75);
  transition: transform 0.1s ease-out;
  cursor: pointer;
  font-weight: bold;
}

.quantity-desc .num {
  font-size: 1rem;
}

.quantity-desc .plus {
  color: #fff;
  background-color: transparent;
  border: 0;
  width: 20px;
  transform: scale(1.75);
  transition: transform .1s ease-out;
  cursor: pointer;
  font-weight: bold;
}

.quantity-desc .minus:active,
.quantity-desc .plus:active {
  transform: scale(0.9);
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
  /* background-color: white; */
  min-height: 60vh;
}

.success,
.cancel {
  /* width: 1000px; */
  margin: auto;
  /* margin-top: 160px; */
  /* background-color: #dcdcdc; */
  padding: 50px;
  /* border-radius: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 2rem;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 2rem;
  color: #324d67;
}

.success .email-msg {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 1.25rem;
  font-weight: 600;
}

.success .description {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}

/* hamburger menu  */

.navbar-btn {
  display: block;
}

.hamburger {
  display: none;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform .4s ease;
}

.hamburger:hover {
  transform: scale(1.2, 1.2);
}

.menu-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  background-color: #FFE6C1;
}

.desktop-menu {
  display: block;
}

.tax_and_shipping {
  font-size: 1rem;
  font-style: italic;
  text-transform: lowercase;
  color: #FFB1B1;
}

/* commissions page */

.commissions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 5vw;
  font-family: Arial, sans-serif;
}

.commissions-intro {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  margin: 1vh 5vw 5vh 5vw;
}

.commissions-intro h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 450;
}

.commissions-form {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 3vh;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #FFFFFF;
  /* height: 65vh; */
  box-shadow: 0px 0px 5px 2px #00000025;
}

.commissions-input,
.commissions-textarea,
.commissions-file-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.commissions-textarea {
  min-height: 150px;
}

.commissions-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #FFE6C1;
  color: #4D311B;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
}

.commissions-button:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* contact page */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 5vw;
  font-family: Arial, sans-serif;
}


/* Media Queries */
@media (max-width: 800px) {
  html {
    font-size: 12px;
  }

  .product-image {
    width: 175px;
    height: 175px;
  }

  .cart-container {
    width: 100vw;
    padding: 40px 10px;
  }

  .outside-cart-container {
    display: none;
  }

  .review-card {
    font-size: 1rem;
  }

  .product-detail-subcontainer {
    flex-direction: column;
    gap: 0;
  }

  .details-and-buy {
    gap: 50px;
  }

  .buy {
    flex-direction: column;
    align-items: flex-end;
  }

  .buy-left {
    width: 100%;
  }

  .product-image {
    width: 125px;
    height: 125px;
  }

  .reviews-container {
    flex-wrap: wrap;
  }

  .product-detail-image {
    width: 100%;
    height: auto;
    transition: opacity 0.4s;
    opacity: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  .image-container {
    /* margin-top: 20px; */
  }

  .navbar-container {
    /* height: 10vh; */
  }

  .navbar-btn {
    font-size: 1.5rem;
    width: 100%;
  }

  .navbar-btn a {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .navbar-btn.desktop-menu {
    display: none;
  }

  .hamburger {
    display: block;
    background: transparent;
    border: 0;
    padding: 10px;
  }

  .menu-items {
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }

  .menu-items.active {
    max-height: 25vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .product-image-container {
    position: relative;
    width: 100%;
    height: 0;
    /* ensures that the container starts with no height */
    padding-bottom: 100%;
    /* ensures that height matches the width */
    overflow: hidden;
  }

  .product-detail-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ensures the image covers the whole container without distortion */
  }

  .subtotal-container {
    font-size: 1.5rem;
  }

  .success {
    transform: scale(.75);
  }

  .success h2 {
    width: 100%;
    text-align: center;
  }

  .commissions-form {
    width: 350px;
  }

  .add-to-cart {
    font-size: 1rem;
  }

  .product-detail-container {
    padding-bottom: 5%;
  }

  .cart-heading {
    font-size: 1.25rem;
  }

  .flex h5 {
    font-size: 1.25rem;
  }

  .flex h4 {
    font-size: 1.25rem;
  }

  .total h3 {
    font-size: 1.25rem;
  }

  .small-images-container {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }

  .review-card {
    font-size: .5rem;
  }

  .subtotal-container,
  .tax_and_shipping {
    font-size: .8rem;
  }
}

@media (max-width: 600px) {
  .item-desc .flex {
    flex-direction: column-reverse;
    text-align: left;
    align-items: flex-start;
    gap: 10px;
    width: 200px;
  }
}